.date-select-section {
  z-index: 2;
}

.registered {
  text-align: right;
  display: flex;
  flex-direction: column;

  .user-name {
    font-size: 17px;
  }

  .user-email {
    font-size: 12px;
  }

}

.not-registered {
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  mat-icon {
    color: #dcdde1;
  }

  mat-icon:hover {
    color: gold;
  }

}

mat-icon {
  color: #dcdde1;
}

mat-icon:hover {
  color: gold;
}
.cart{
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 100%;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.padding{
  padding: 5px;
}
.bln{
  display: flex;
  flex-direction: row;
}
.bln:hover{
  cursor: pointer;
}
.re_inner{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .inner_row{
    display: flex;
    flex-direction: row;
  }
}
