<section style="position: sticky;top:0;" class="bg-dark mx-lg-5 px-5 py-4 date-select-section" id="date-select-section">

  <div class="row">
    <div class="col-md-6">

      <h1 style="color: #dcdde1;margin-bottom: 0">Hotel Marina </h1>

      <button routerLink="/guest_panel/available-rooms/hotel-details" style="margin: 0" mat-icon-button class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon">
        <mat-icon>home</mat-icon>
      </button>

    </div>
    <div *ngIf="guest_Not_registered" class="col-md-6 not-registered">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
              [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openRegister()">Register</button>
        <button mat-menu-item (click)="openSignIn()">Sign In</button>
      </mat-menu>

    </div>

    <div *ngIf="guest_registered" class="col-md-6 ">
      <div class="row">
        <div class="re_inner">
          <div class="inner_row">
            <div class="registered padding">
              <span style="color: #dcdde1" class="user-name"> {{guest.name}} </span>
              <span style="color: #dcdde1" class="user-email"> {{guest.email}} </span>
            </div>

            <div routerLink="/guest_panel/guest-details" class="padding bln">
              <span *ngIf="cart_btn" class="cart center"><span style="color: #dcdde1;font-weight: bold">{{cart.length}}</span></span>
            </div>

            <button style="margin: 0" (click)="logOut()" mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with heart icon">
              <mat-icon>logout</mat-icon>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

