<div class="main-wrap">
  <h1>Available Rooms</h1>
  <hr>




  <div class="inner_wrap"#ttt *ngFor="let temRoom of selectedRooms; index as num">

    <div class="row">
      <div class="col-md-5">

        <div class="image_wrap">
          <div  id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

            <div *ngFor="let sinImage of images; index as num" class="carousel-indicators"  (change)="number=num">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="number" class="active" aria-current="true" aria-label="Slide 1"></button>
            </div>
            <div class="carousel-inner"     >
              <div *ngFor="let temImage of temRoom.image.image; index as num2"  [ngClass]="{'active':num2==0}"  class="carousel-item  ">
                <img src="{{temImage}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>


            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


        </div>

      </div>

      <div class="col-md-7">

        <h2>Selected Dates :{{ dataShares.Start | date:'dd-MM-yyyy' }}&nbsp; to &nbsp;{{ dataShares.End | date:'dd-MM-yyyy' }}</h2>
        <div><h1>{{temRoom.room_category}} <span class="badge bg-secondary">{{temRoom.room_number}}</span></h1></div>
        <hr>
        <p>{{temRoom.description}}</p>

        <h3>Cost Per Night : $ {{temRoom.price_per_night}}</h3>

        <button (click)="RoomCheckin(temRoom)" mat-raised-button color="primary">Check In</button>

      </div>

    </div>

  </div>



</div>

