<mat-dialog-content class="mat-typography">
  <div class="main-wrap">
    <h1>Delete Confirmation <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon></h1>
    <hr>

    <div class="inner-wrap">
      <div class="col-md-12">
        <p >
          Are sure to delete this room of <span>{{data.roomNum}}</span> ?
        </p>

      </div>
      <button mat-raised-button color="primary" mat-button mat-dialog-close style="margin-right: 5px" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" mat-button mat-dialog-close [mat-dialog-close]="true" cdkFocusInitial (click)="deleteRoom(data.roomNum)">Delete</button>

    </div>

  </div>
</mat-dialog-content>

