<div class="container">
  <div class="inner_wrap">
    <section class="date-picker  px-lg-5 py-3 date-select-section" id="date-select-section">

      <h1> Find deals on hotels</h1>

      <form [formGroup]="dateRangeForm" (ngSubmit)="checkAvailable()">

        <div class="row">
          <div class="col-md-6">
            <mat-form-field color="warn" class="w-100 mt-1">
              <mat-label>Chose a date here</mat-label>
              <mat-date-range-input [formGroup]="dateRangeForm" [rangePicker]="picker" >
                <input matStartDate formControlName="start" placeholder="Check In">
                <input matEndDate formControlName="end" placeholder="Check Out">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker   #picker></mat-date-range-picker>

              <mat-error *ngIf="dateRangeForm.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
              <mat-error *ngIf="dateRangeForm.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <section class=" mt-1">

              <div class="example-button-row" style="margin-top: 10px">
                <button [disabled]="dateRangeForm.invalid" type="submit" mat-raised-button color="primary" style="width: 97%" >Check Available</button>
              </div>
            </section>
          </div>
        </div>
      </form>

    </section>
  </div>


  <router-outlet></router-outlet>
</div>
