<div class="main-wrap">


  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">

    <mat-form-field floatLabel="auto"  appearance="outline" color="primary" class="example-full-width">
      <mat-label>User Name</mat-label>
      <input formControlName="user_name" matInput type="text" placeholder="Ex. Jhon">
      <mat-hint>Create User Name Here</mat-hint>
    </mat-form-field>

    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" color="primary" class="example-full-width">
      <mat-label>Contact Number</mat-label>
      <input formControlName="contact" matInput type="tel" placeholder="Ex. 07x -xxx-xxxx" >
      <mat-hint>input phone number with code +94 or 0</mat-hint>
    </mat-form-field>

    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" color="primary" class="example-full-width">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email" placeholder="Ex. Jhonmx@mail.com" autocomplete="off" autocapitalize="off" >
    </mat-form-field>


    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" color="primary" class="example-full-width">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" autocomplete="off" autocapitalize="off" >
      <mat-hint>Min 5 Characters</mat-hint>
    </mat-form-field>


    <button [disabled]="signUpForm.invalid" type="submit"  mat-raised-button color="primary">Sign-Up</button>

  </form>

</div>
