<div class="main_wrap login-section">

  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-4"></div>
      <div class="col-md-4 inner-wrap">

        <div class="button-wrap">
          <button routerLink="/adminpanel/login-admin" routerLinkActive="active" mat-button color="primary">
            <span>Login</span></button>
          &nbsp;
          <button routerLink="/adminpanel/sign-up-admin" routerLinkActive="active" mat-button color="primary"><span>Sign-Up</span>
          </button>
        </div>
        &nbsp;
        <router-outlet></router-outlet>
        &nbsp;&nbsp;
        &nbsp;

        <h1 style="color: #dcdde1">important !</h1>

        <p style="color: #dcdde1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid asperiores
          blanditiis debitis quaerat quisquam ratione, veniam vero! .</p>


      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <!--    <img src="assets/background.jpg" alt="">-->

</div>
