.main-wrap{
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(220, 221, 225, 0.6);
}
mat-icon:hover{
  font-size: 25px;
  color: red;
  cursor: pointer;
}
mat-icon{
  font-size: 18px;
}
mat-paginator{
  font-size: 15px;
  color: darkgreen;
  background-color: rgba(220, 221, 225, 0);
}
