
<div class="main-wrap">
  <h1>Room Management</h1>
  <hr>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Counts</th>
      <th>Room No</th>
      <th>Category</th>
      <th>Amount per Night</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>

      <tr *ngFor="let temRoom of room; index as num">
        <td class="col-md-1">{{num+1}}</td>
        <td class="col-md-1">{{temRoom.room_number}}</td>
        <td class="col-md-1">{{temRoom.room_category}}</td>
        <td class="col-md-1">$ &nbsp; {{temRoom.price_per_night}}</td>
        <td class="col-md-7">{{temRoom.description}} </td>
        <td class="col-md-1">

          <button disabled="{{temRoom.image.status}}" mat-icon-button  aria-label="Example icon button with a heart icon" (click)="openUploadImage(temRoom.room_number)" >
            <mat-icon >image</mat-icon>
          </button>

          <button mat-icon-button aria-label="Example icon button with a heart icon" (click)="openUpdate(temRoom)" >
            <mat-icon >mode_edit</mat-icon>
          </button>

          <button mat-icon-button  aria-label="Example icon button with a heart icon" (click)="openDelete(temRoom.room_number)">
            <mat-icon >delete</mat-icon>
          </button>

          &nbsp;

        </td>
      </tr>

    </tbody>
  </table>

  <mat-paginator [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Select page">
  </mat-paginator>


  <button mat-raised-button color="primary" (click)="openAddRoom()">Add New Room</button>


</div>
