.main-wrap{
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(220, 221, 225, 0.6);
  height: auto;
}
.outer_context{
  border-radius: 10px;
  padding: 5px;
}
.image{
  background-color: red;
  width: 200px;
  height: 150px;
}
