<div class="main-wrap">
  <h1>Hotel Details</h1>
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary">About</button>
    <button type="button" class="btn btn-outline-primary">Services</button>
    <button type="button" class="btn btn-outline-primary">Contact</button>
  </div>
  <hr>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, illo nihil. A beatae culpa eius exercitationem id, nobis obcaecati quis?</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, illo nihil. A beatae culpa eius exercitationem id,
    nobis obcaecati quis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias amet at, culpa cum doloribus eaque incidunt ipsa,
    iste labore nesciunt, optio perferendis placeat porro possimus quae quod reprehenderit suscipit temporibus totam! Accusantium aliquam architecto dolorum eos
    eum excepturi explicabo hic iste libero modi necessitatibus obcaecati odio, praesentium quibusdam rem sed sit temporibus voluptatem? Ad, amet atque, doloremque
    earum ex excepturi facere illo illum laboriosam minus molestias nam qui quibusdam quis quod ratione similique. Ad, asperiores, corporis, cumque debitis doloremque
    dolores excepturi exercitationem facere id inventore laboriosam laudantium minima molestiae nisi nulla perspiciatis praesentium quidem recusandae repellendus totam
    veniam vitae voluptate voluptates? Aliquam at ea illum incidunt, laudantium nostrum optio quidem! Adipisci, aperiam cum debitis doloribus, earum et ex facilis in
    incidunt inventore minima molestiae natus nesciunt odit optio possimus provident, quam quas suscipit veniam? Accusantium commodi culpa cupiditate debitis dignissimos
    dolorem, doloremque doloribus ea eius eligendi eos esse in labore laudantium odit officiis provident quidem quod sequi, suscipit tenetur vel voluptatem? Corporis,
    deleniti impedit itaque magni pariatur perspiciatis sed. Ab accusamus animi assumenda aut autem consequuntur, corporis esse eveniet fuga illo inventore ipsum iusto
    labore laboriosam laborum magni molestiae nemo nihil numquam obcaecati odio officia officiis quaerat quam quasi quia quisquam sapiente sequi tenetur, ut veritatis
    vitae voluptates voluptatibus. Aut corporis esse iste itaque molestiae, natus odit saepe? At ducimus earum quos. Accusamus, architecto atque corporis culpa cupiditate
    delectus deserunt earum eius et harum impedit inventore
    ipsum libero mollitia qui quibusdam recusandae repudiandae sed sit sunt, veniam, vero voluptatibus!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dicta eaque eligendi iste magnam? Amet, aspernatur esse et facere laboriosam libero,
    magni maiores molestias omnis perspiciatis possimus, quaerat qui quisquam quo soluta tempora voluptate? Aliquid, architecto, asperiores assumenda dolorum,
    expedita fuga iusto neque odit officiis placeat quae quod sed temporibus?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, atque est, excepturi fugit laborum magnam pariatur praesentium qui quibusdam sunt ullam voluptate?
    Enim molestias odit quaerat sequi? Aliquid eius enim magni nemo, nihil quidem similique veniam. A aliquam aliquid earum, eligendi expedita explicabo illo iste minus
    molestiae molestias mollitia nesciunt perferendis placeat quasi quibusdam repellat reprehenderit sapiente similique, tenetur vero. Atque deleniti dicta doloribus
    eveniet exercitationem facere facilis ipsam, laborum minus natus necessitatibus placeat, porro quas quis, sequi vitae voluptatum.</p>

</div>
